.form {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}

input {
  margin: 1.2rem 0;
  display: block;
  width: 100%;
  padding: 1rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.button {
  color: #333;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  display: block;
  width: 100%;
  border: 1px solid #ccc;
}

.div {
  width: 100%;
}
